@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');


body {
  font-family: 'Poppins',sans-serif;
}

.formWrapper {
  margin-top: 20px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap : 1em;
  margin-bottom: 1em;
}

.buttonLayout {
  display: flex;
  flex-direction: column;
  gap : 5px;
}

.action__button {
  background-color: red;
}

/* forms */

.form_field {
  padding : 20px;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  outline : none;
}

.textArea {
  width : 500px;
  height : 100px;
}

@media screen and (min-width : 700px) {
  .buttonLayout {
      flex-direction: row;
  }
}